[submodule "springboot-zuul-server"]
	path = springboot-zuul-server
	url = https://github.com/jpchacon/springboot-zuul-server.git
[submodule "springboot-gateway-server"]
	path = springboot-gateway-server
	url = https://github.com/jpchacon/springboot-gateway-server.git
[submodule "springboot-eureka-server"]
	path = springboot-eureka-server
	url = https://github.com/jpchacon/springboot-eureka-server.git
[submodule "springboot-produts-service"]
	path = springboot-produts-service
	url = https://github.com/jpchacon/springboot-produts-service.git
[submodule "springboot-items-service"]
	path = springboot-items-service
	url = https://github.com/jpchacon/springboot-items-service.git
